.vscode
contractions
control_statistics/*.txt
control_statistics/graphStatistics
control_statistics/mostRepresentedUsers
dumped_files
necessary_programs/bitcoin
necessary_programs/createGraph
necessary_programs/numjoin
necessary_programs/pca/pca_venv
necessary_programs/sccs32s_exe
necessary_programs/snapshots_creation/snapshots
necessary_programs/txedge
necessary_programs/txedges
necessary_programs/users-graph-analysis/longTermSubgraph
snapshots_number
snapshots_value
time_series_number
time_series_value
tst/temp_data
