createGraph
.vscode
necessary_programs/bitcoin
necessary_programs/users-graph-analysis/longTermSubgraph
necessary_programs/pca/pca_venv
necessary_programs/snapshots_creation/snapshots
necessary_programs/txedges
necessary_programs/txedge
necessary_programs/numjoin
necessary_programs/sccs32s_exe
contractions
dumped_files
snapshots
time_series
tst/temp_data
control_statistics/*.txt
control_statistics/mostRepresentedUsers
control_statistics/graphStatistics